<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.dekequan.dao.menu.MenuDao" >
  <resultMap id="menu" type="Menu" >
    <id column="menu_id" property="menuId" jdbcType="INTEGER" />
    <result column="create_time" property="createTime" jdbcType="TIME" />
    <result column="title" property="title" jdbcType="VARCHAR" />
    <result column="tip" property="tip" jdbcType="VARCHAR" />
    <result column="main_image" property="mainImage" jdbcType="VARCHAR" />
    <result column="view_count" property="viewCount" jdbcType="INTEGER" />
    <result column="user_collect_count" property="userCollectCount" jdbcType="INTEGER" />
  </resultMap>
  
</mapper>