<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.dekequan.dao.permissions.RoleModuleDao">
	<resultMap id="roleModule" type="RoleModule">
		<id column="rmId" property="rm_id" jdbcType="INTEGER" />
		<result column="role_id" property="roleId" jdbcType="INTEGER" />
		<result column="module_id" property="moduleId" jdbcType="INTEGER" />
	</resultMap>

	<sql id="Base_Column_List">
		rm_id, role_id, module_id
	</sql>
	
</mapper>